doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/key.config.js')
    script(src="/jquery/dist/jquery.min.js")
    script(src="/lodash/lodash.min.js")

    script(src="https://www.gstatic.com/firebasejs/4.1.1/firebase.js")
    script(src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js")
    link(type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css")
    script(src='/firebase.wrapper.js')
  body
    block content
