extends layout

block content
    link(rel='stylesheet', href='/stylesheets/login.css')
    .title login
    .login-form
        .center-wrapper
            .line.flex-wrapper
                .text ID
                input#id-input
            .line.flex-wrapper
                .text password
                input#password-input(type='password')
        .flex-wrapper
            .flex-item
                .btn#login-btn login

    script(src="//developers.kakao.com/sdk/js/kakao.min.js")
    script(src="/kakao.wrapper.js")
    script(src="/register.js")




