extends layout

block content
    link(rel='stylesheet', href='/stylesheets/makePoll.css')
    .container
        .tool-bar
            .tool-btn
                i.material-icons playlist_add
            .tool-btn
                i.material-icons add_a_photo
            .tool-btn
                i.material-icons playlist_add
            .tool-btn
                i.material-icons playlist_add
            .tool-btn
                i.material-icons playlist_add

        .form-wrapper
            .form-header
                .input-area
                    input(placeholder='설문지 이름을 입력하세요').bold
                .input-area
                    textarea(placeholder='설문지 설명')
            .form-body
                .line.flex-wrapper
                    .col-8
                        .question-area
                            input(placeholder='질문')
                    .col-1
                    .col-3
                        i.material-icons photo
                        .dropdown
                            .dropdown-btn
                                i.material-icons#dropdown-icon short_text
                                .name 단답형
                                i.material-icons#dropdown-arrow keyboard_arrow_down
                            .dropdown-content
                                .option
                                    i.material-icons.option-icon short_text
                                    .name 단답형
                                .option.bottom-shadow
                                    i.material-icons.option-icon notes
                                    .name 장문형
                                .option
                                    i.material-icons.option-icon short_text
                                    .name 객관식 질문
                                .option
                                    i.material-icons.option-icon short_text
                                    .name 체크박스
                                .option.bottom-shadow
                                    i.material-icons.option-icon notes
                                    .name 드롭다운


                .line.flex-wrapper
                    .col-1
                        .question-area
                            input(placeholder='답안')
                    .col-2


