extends layout

block content
    link(rel='stylesheet', href='/stylesheets/makePoll.css')
    .container
        #pool-toolbar.tool-bar
            .tool-btn(name='addQuestion')
                i.material-icons playlist_add
            .tool-btn(name='addPhoto')
                i.material-icons add_a_photo
            .tool-btn(name='addTitle')
                i.material-icons add_comment
            .tool-btn(name='preview')
                i.material-icons search

        .form-wrapper
            .form-header
                .input-area
                    input(placeholder='설문지 이름을 입력하세요').bold
                .input-area
                    textarea(placeholder='설문지 설명')
            .form-body

    script(src='/component/dropdown.js')
    script(src='/component/toolbar.js')
    script(src='/makePoll.js')
