extends layout

block content
    link(rel='stylesheet', href='/stylesheets/register.css')

    .container
        .left-view.center-wrapper
            .title 어떤 것을 알아 보고 싶으세요?
        .register-view.right-view.center-wrapper-vertical
            .main-title 회원가입
            .flex-wrapper
                .sub-title 이미 회원이신가요?
                .login-nav 로그인
                i.material-icons.blue play_arrow
            .register-selecter.flex-wrapper
                .box-nav.center-wrapper-vertical
                    i.material-icons person
                    .title 개인 회원
                    .sub-title 만 14세 이상 가능
                    #person-register.btn 회원가입
                .line
                .box-nav.center-wrapper-vertical
                    i.material-icons account_balance
                    .title 기관 회원
                    .sub-title 사업자 등록증을 보유한 기관회원
                    #org-register.btn 회원가입

        .person-form.right-view.center-wrapper-vertical

    .login-form
        .center-wrapper
            .line.flex-wrapper
                .text ID
                input(name='responserId')
            .line.flex-wrapper
                .text password
                input#password(type='password', name='password')
            .line.flex-wrapper
                .text password 확인
                input#repassword(type='password', name='repassword')
            .line.flex-wrapper
                .text 주소
                input#addr(name='addr')
            .line.flex-wrapper
                .text 나이
                input#age(name='age')
            .line.flex-wrapper
                .text 성별
                input#gender(name='gender')

        .flex-wrapper
            .flex-item
                .btn#kakao-auth-btn kakao 인증
            .flex-item
                .btn#register-btn register

    script(src="//developers.kakao.com/sdk/js/kakao.min.js")
    script(src="kakao.wrapper.js")
    script(src='/register.js')