extends layout

block content
    link(rel='stylesheet', href='/stylesheets/registerOrg.css')

    .container
        .left-view.center-wrapper
            .title 어떤 것을 알아 보고 싶으세요?
        .register-view.center-wrapper-vertical
            .title 여론조사자 회원가입
            .flex-wrapper
                .sub-title 이미 회원이신가요?
                .login-nav 로그인
                i.material-icons.blue play_arrow
            .liner
                .line_horizontal
                .line-title 계정 만들기
                .line_horizontal
            .input_container.flex-wrapper.center-wrapper
                .box-nav
                    .inputWithIcon
                        input#id-input(placeholder='이메일', type='text')
                        i.material-icons mail
                        .input-btn
                    .error-box#errorbox-id 필수 항목입니다.
                    .inputWithIcon
                        input#password-input(placeholder='패스워드', type='password')
                        i.material-icons lock
                    .error-box#errorbox-password 필수 항목입니다.
                    .inputWithIcon
                        input#repassword-input(placeholder='다시 한 번 입력해주세요', type='password')
                        i.material-icons lock
                    .error-box#errorbox-repassword 필수 항목입니다.

                    #business-dropdown.dropdown
                        .dropdown-btn
                            i.material-icons.dropdown-icon location_on
                            .name 선택해주세요
                            .col-8
                            i.material-icons.dropdown-arrow keyboard_arrow_down
                        .dropdown-content
                            .option
                                i.material-icons.option-icon perm_identity
                                .name 개인 사업자
                            .option
                                i.material-icons.option-icon business
                                .name 공공 기관
                            .option
                                i.material-icons.option-icon language
                                .name 국가 기관
                            .option
                                i.material-icons.option-icon check_box
                                .name 첫 번째 선택사항
                            .option.bottom-shadow
                                i.material-icons.option-icon notes
                                .name 두 번째 선택사항

                    .error-box#errorbox-business-dropdown 필수 항목입니다.

                    .inputWithIcon
                        input(placeholder='사업자 등록증 업로드', type='text', disabled=true)
                        i.material-icons add_a_photo
                    input#business-img( type='file')
                    .error-box#errorbox-business-img 필수 항목입니다.

                    .inputWithIcon
                        input#phone-input(placeholder=' \'-\' 를 제외한 연락처를 입력해주세요.', type='text')
                        i.material-icons call
                    .error-box#errorbox-phone 필수 항목입니다.
                    .btn#registerOrg-button 회원가입

                .line_vertical

                .box-nav.center-wrapper-vertical
                    .title 조사자 가입 안내
                    .sub-title 여론조사자 가입은 여론조사 관계 법령에 의거해 아래와 같은 절차가 확인이 되면 회원가입이 진행됩니다.
                    .sub-box.center-wrapper 사업자 등록 확인
                    i.material-icons arrow_downward
                    .sub-box.center-wrapper 여론조사 기관 등록 확인
                    i.material-icons arrow_downward
                    .sub-box.center-wrapper 대표기관 전화 확인
                    i.material-icons arrow_downward
                    .sub-box.center-wrapper 회원가입 완료

    script(src='/component/dropdown.js')
    script(src='/registerOrg.js')