$btn-color: #eeeb3f

.login-form
  margin: 36px auto
  width: 480px
  background-color: #89c3ff
  border-radius: 32px
  padding: 60px
  .center-wrapper
    width: 360px
    .line
      height: 72px
      .text
        color: white
        width: 132px

input
  outline: none
  border: none
  background-color: #eeeeee
  border-radius: 12px
  height: 24px
  margin-left: 12px
  text-indent: 12px
  flex: 1

.btn
  width: 112px
  height: 48px
  background-color: $btn-color
  text-align: center
  line-height: 48px
  color: #414e5e
  border-radius: 12px
  &:hover
    background-color: lighten($btn-color, 10)
    cursor: pointer
  &:active
    background-color: darken($btn-color, 10)

