@charset "UTF-8";
.flex-wrapper {
  display: flex; }
  .flex-wrapper .col-12 {
    flex: 12; }
  .flex-wrapper .col-8 {
    flex: 8; }
  .flex-wrapper .col-6 {
    flex: 6; }
  .flex-wrapper .col-4 {
    flex: 4; }
  .flex-wrapper .col-3 {
    flex: 3; }
  .flex-wrapper .col-2 {
    flex: 2; }
  .flex-wrapper .col-1 {
    flex: 1; }

.flex-wrapper {
  display: flex; }
  .flex-wrapper .col-12 {
    flex: 12; }
  .flex-wrapper .col-8 {
    flex: 8; }
  .flex-wrapper .col-6 {
    flex: 6; }
  .flex-wrapper .col-4 {
    flex: 4; }
  .flex-wrapper .col-3 {
    flex: 3; }
  .flex-wrapper .col-2 {
    flex: 2; }
  .flex-wrapper .col-1 {
    flex: 1; }

.rotate-icon {
  transform: rotate(180deg); }

.dropdown {
  position: relative; }
  .dropdown .dropdown-btn {
    display: flex;
    height: 32px;
    background-color: #4ea5ff;
    color: #fff;
    border-radius: 3px; }
    .dropdown .dropdown-btn:hover {
      background-color: #81bfff;
      cursor: pointer; }
    .dropdown .dropdown-btn:active {
      background-color: #1b8bff; }
    .dropdown .dropdown-btn .name {
      width: 92px;
      text-align: center;
      line-height: 32px; }
    .dropdown .dropdown-btn .dropdown-icon, .dropdown .dropdown-btn .dropdown-arrow {
      line-height: 32px;
      color: #fff;
      margin: 0 8px; }
    .dropdown .dropdown-btn .dropdown-arrow {
      transition: all 0.3s ease-in-out; }
  .dropdown .dropdown-content {
    z-index: 1;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: 40px;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }
    .dropdown .dropdown-content .option {
      display: flex;
      color: #aaa;
      height: 32px;
      line-height: 32px; }
      .dropdown .dropdown-content .option:hover {
        background-color: #cccccc; }
      .dropdown .dropdown-content .option .option-icon {
        font-size: 24px;
        margin: 0 12px 0 8px;
        line-height: 32px; }
    .dropdown .dropdown-content .bottom-shadow {
      -webkit-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12); }

.inputWithIcon {
  position: relative;
  height: 36px; }
  .inputWithIcon input[type='text'], .inputWithIcon input[type='password'] {
    padding-left: 32px;
    width: 100%;
    outline: none;
    height: 36px;
    border-radius: 3px;
    border: 0.5px solid #aaa; }
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 4px;
    padding: 6px 8px;
    color: #aaaaaa;
    font-size: 16px; }

input[type='file'] {
  padding: 3px;
  width: 100%;
  outline: none;
  height: 24px;
  border-radius: 3px;
  border: 0.5px solid #aaa; }

.input-area {
  padding: 12px;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }
  .input-area input {
    width: 100%;
    height: 48px;
    outline: none;
    padding-left: 12px;
    border: transparent;
    font-weight: bold;
    font-size: 32px; }
  .input-area textarea {
    width: 100%;
    height: 60px;
    outline: none;
    padding-left: 12px;
    border: transparent; }

.question-area {
  padding: 12px;
  border-bottom: solid 2px #aaaaaa;
  width: 480px; }
  .question-area input {
    width: 100%;
    height: 32px;
    outline: none;
    padding-left: 12px;
    border: transparent;
    font-size: 24px; }
  .question-area textarea {
    width: 100%;
    height: 60px;
    outline: none;
    padding-left: 12px;
    border: transparent; }

.flex-wrapper {
  display: flex; }
  .flex-wrapper .col-12 {
    flex: 12; }
  .flex-wrapper .col-8 {
    flex: 8; }
  .flex-wrapper .col-6 {
    flex: 6; }
  .flex-wrapper .col-4 {
    flex: 4; }
  .flex-wrapper .col-3 {
    flex: 3; }
  .flex-wrapper .col-2 {
    flex: 2; }
  .flex-wrapper .col-1 {
    flex: 1; }

.tool-bar {
  position: fixed;
  background-color: #fff;
  width: 40px;
  top: calc(174px);
  right: 224px;
  border-radius: 3px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.4);
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.4); }
  .tool-bar .tool-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    color: #aaa; }
    .tool-bar .tool-btn:hover {
      color: #81bfff;
      cursor: pointer; }
    .tool-bar .tool-btn:active {
      color: #1b8bff; }

.container {
  padding: 36px 12px;
  height: calc(90vh - 114px);
  background-color: transparent; }

.selected:hover {
  border: solid 3px #4ea5ff;
  -webkit-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }

.tool-bar .tool-btn:nth-child(1) {
  position: relative; }
  .tool-bar .tool-btn:nth-child(1):hover::after {
    position: absolute;
    width: 72px;
    text-align: center;
    left: 130%;
    content: "질문추가";
    color: #ffffff;
    padding: 4px;
    border-radius: 4px;
    background-color: rgba(50, 50, 50, 0.5); }

.tool-bar .tool-btn:nth-child(2) {
  position: relative; }
  .tool-bar .tool-btn:nth-child(2):hover::after {
    position: absolute;
    width: 72px;
    text-align: center;
    left: 130%;
    content: "사진추가";
    color: #ffffff;
    padding: 4px;
    border-radius: 4px;
    background-color: rgba(50, 50, 50, 0.5); }

.tool-bar .tool-btn:nth-child(3) {
  position: relative; }
  .tool-bar .tool-btn:nth-child(3):hover::after {
    position: absolute;
    width: 120px;
    text-align: center;
    left: 130%;
    content: "제목 및 설명 추가";
    color: #ffffff;
    padding: 4px;
    border-radius: 4px;
    background-color: rgba(50, 50, 50, 0.5); }

.tool-bar .tool-btn:nth-child(4) {
  position: relative; }
  .tool-bar .tool-btn:nth-child(4):hover::after {
    position: absolute;
    width: 72px;
    text-align: center;
    left: 130%;
    content: "미리보기";
    color: #ffffff;
    padding: 4px;
    border-radius: 4px;
    background-color: rgba(50, 50, 50, 0.5); }

.form-wrapper {
  transition: all 0.3s ease-in-out;
  margin-top: 24px;
  background-color: #fff;
  width: 980px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.4);
  box-shadow: 0 2px 4px 0 rgba(50, 50, 50, 0.4);
  border-radius: 3px; }
  .form-wrapper .form-header {
    width: 100%;
    font-weight: bold;
    font-size: 32px;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }
  .form-wrapper .form-body {
    border-left: solid #4ea5ff 2px;
    padding: 12px 0; }
    .form-wrapper .form-body .line {
      margin-top: 12px;
      padding: 0 12px; }
      .form-wrapper .form-body .line .col-3 {
        display: flex;
        align-items: flex-end; }
        .form-wrapper .form-body .line .col-3 .img-upload-btn {
          color: #aaa;
          font-size: 32px;
          margin-right: 12px; }
    .form-wrapper .form-body .line + .bottom {
      padding-bottom: 12px;
      border-bottom: solid 1px #aaa; }

/*# sourceMappingURL=makePoll.css.map */