@import "global"
@import "./lib/input"
@import "./lib/dropdown"

.container
  display: flex
  height: calc(100vh - #{$header-height})
  .left-view
    flex: 4
    background-color: $sub-color
    .title
      color: #fff
      font-size: 24px
      font-weight: bold
  .register-view
    flex: 6
    .title
      font-size: 24px
    .sub-title
      font-weight: bold
    .flex-wrapper
      margin-top: 20px
      .login-nav
        margin-left: 6px
        color: $sub-color
        font-weight: bold
        @include hover-name-action($sub-color)
      i.blue
        color: $sub-color
    .liner
      display: flex
      .line_horizontal
        margin: 20px
        border: solid .5px #707070
        height: 0.1px
        width: 240px
      .line-title
        margin: 10px
        font-size: 18px
    .input_container
      height: 600px
      .box-nav
        width: 300px

        .dropdown
          .dropdown-btn
            border: solid .5px $sub-color
            background-color: #fff
            color: $sub-color
            .dropdown-icon, .dropdown-arrow
              color: $sub-color
          .dropdown-content
            .option:hover
              background-color: $sub-color
              .option-icon, .name
                color: #fff

        .title
          font-size: 20px
          font-weight: bold
        .sub-title
          font-size: 12px
          margin: 10px
          font-weight: normal
        .sub-box
          color: $sub-color
          margin: 5px
          width: 200px
          height: 32px
          font-size: 15px
          line-height: 32px
          border: solid 1px $sub-color
          @include shadow(0.08)
      .error-box
        height : 24px
        font-size: 10px
        line-height: 24px

.line_vertical
  height : 100%
  margin : 20px
  border: solid .5px #707070

//.login-form
//  display: none