.flex-wrapper {
  display: flex; }
  .flex-wrapper .col-12 {
    flex: 12; }
  .flex-wrapper .col-8 {
    flex: 8; }
  .flex-wrapper .col-6 {
    flex: 6; }
  .flex-wrapper .col-4 {
    flex: 4; }
  .flex-wrapper .col-3 {
    flex: 3; }
  .flex-wrapper .col-2 {
    flex: 2; }
  .flex-wrapper .col-1 {
    flex: 1; }

.inputWithIcon {
  position: relative;
  height: 36px; }
  .inputWithIcon input[type='text'], .inputWithIcon input[type='password'] {
    padding-left: 32px;
    width: 100%;
    outline: none;
    height: 36px;
    border-radius: 3px;
    border: 0.5px solid #aaa; }
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 4px;
    padding: 6px 8px;
    color: #aaaaaa;
    font-size: 16px; }

input[type='file'] {
  padding: 3px;
  width: 100%;
  outline: none;
  height: 24px;
  border-radius: 3px;
  border: 0.5px solid #aaa; }

.input-area {
  padding: 12px;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }
  .input-area input {
    width: 100%;
    height: 48px;
    outline: none;
    padding-left: 12px;
    border: transparent;
    font-weight: bold;
    font-size: 32px; }
  .input-area textarea {
    width: 100%;
    height: 60px;
    outline: none;
    padding-left: 12px;
    border: transparent; }

.question-area {
  padding: 12px;
  border-bottom: solid 2px #aaaaaa;
  width: 480px; }
  .question-area input {
    width: 100%;
    height: 32px;
    outline: none;
    padding-left: 12px;
    border: transparent;
    font-size: 24px; }
  .question-area textarea {
    width: 100%;
    height: 60px;
    outline: none;
    padding-left: 12px;
    border: transparent; }

.container {
  display: flex;
  height: calc(100vh - 114px); }
  .container .left-view {
    flex: 4;
    background-color: #4ea5ff; }
    .container .left-view .title {
      color: #fff;
      font-size: 24px;
      font-weight: bold; }
  .container .register-view {
    flex: 6; }
    .container .register-view .title {
      font-size: 24px; }
    .container .register-view .sub-title {
      font-weight: bold; }
    .container .register-view .flex-wrapper {
      margin-top: 20px;
      font-size: 20px; }
      .container .register-view .flex-wrapper .login-nav {
        margin-left: 6px;
        color: #4ea5ff;
        font-weight: bold; }
        .container .register-view .flex-wrapper .login-nav:hover {
          color: #81bfff;
          cursor: pointer; }
        .container .register-view .flex-wrapper .login-nav:active {
          color: #1b8bff; }
      .container .register-view .flex-wrapper i.blue {
        color: #4ea5ff; }
    .container .register-view .liner {
      display: flex; }
      .container .register-view .liner .line_horizontal {
        margin: 20px;
        border: solid .5px #707070;
        height: 0.1px;
        width: 240px; }
      .container .register-view .liner .line-title {
        margin: 10px;
        font-size: 18px; }
    .container .register-view .input_container {
      height: 600px; }
      .container .register-view .input_container .box-nav {
        width: 300px; }
        .container .register-view .input_container .box-nav .title {
          font-size: 20px;
          font-weight: bold; }
        .container .register-view .input_container .box-nav .sub-title {
          font-size: 12px;
          margin: 10px;
          font-weight: normal; }
        .container .register-view .input_container .box-nav .sub-box {
          color: #4ea5ff;
          margin: 5px;
          width: 200px;
          height: 32px;
          font-size: 15px;
          line-height: 32px;
          border: solid 1px #4ea5ff;
          -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08), 0 3px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 3px -2px rgba(0, 0, 0, 0.08);
          -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08), 0 3px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 3px -2px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08), 0 3px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 3px -2px rgba(0, 0, 0, 0.08); }
      .container .register-view .input_container .error-box {
        font-size: 10px;
        color: darkorange;
        margin: 10px; }
      .container .register-view .input_container .line_vertical {
        margin-left: 20px;
        margin-right: 20px;
        border: solid .5px #707070; }

/*# sourceMappingURL=registerOrg.css.map */