.flex-wrapper {
  display: flex; }
  .flex-wrapper .col-12 {
    flex: 12; }
  .flex-wrapper .col-8 {
    flex: 8; }
  .flex-wrapper .col-6 {
    flex: 6; }
  .flex-wrapper .col-4 {
    flex: 4; }
  .flex-wrapper .col-3 {
    flex: 3; }
  .flex-wrapper .col-2 {
    flex: 2; }
  .flex-wrapper .col-1 {
    flex: 1; }

.success {
  color: #00aa00;
  font-weight: bold; }

.error {
  color: darkorange;
  font-weight: bold; }

.inputWithIcon {
  position: relative;
  height: 36px; }
  .inputWithIcon input[type='text'], .inputWithIcon input[type='password'], .inputWithIcon input[type='date'] {
    padding-left: 32px;
    width: 100%;
    outline: none;
    height: 36px;
    border-radius: 3px;
    border: 0.5px solid #aaa; }
  .inputWithIcon i {
    position: absolute;
    left: 0;
    top: 4px;
    padding: 6px 8px;
    color: #aaaaaa;
    font-size: 16px; }

input[type='file'] {
  padding: 3px;
  width: 100%;
  outline: none;
  height: 24px;
  border-radius: 3px;
  border: 0.5px solid #aaa; }

.input-area {
  padding: 12px;
  -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }
  .input-area input {
    width: 100%;
    height: 48px;
    outline: none;
    padding-left: 12px;
    border: transparent;
    font-weight: bold;
    font-size: 32px; }
  .input-area textarea {
    width: 100%;
    height: 60px;
    outline: none;
    padding-left: 12px;
    border: transparent; }

.choice-area, .question-area {
  display: flex;
  padding: 12px;
  border-bottom: solid 2px #aaaaaa;
  width: 480px; }
  .choice-area input[type='radio'], .question-area input[type='radio'] {
    width: 30px; }
  .choice-area input, .question-area input {
    width: 100%;
    height: 32px;
    outline: none;
    padding-left: 12px;
    border: transparent;
    font-size: 24px; }
  .choice-area textarea, .question-area textarea {
    width: 100%;
    height: 60px;
    outline: none;
    padding-left: 12px;
    border: transparent; }

.flex-wrapper {
  display: flex; }
  .flex-wrapper .col-12 {
    flex: 12; }
  .flex-wrapper .col-8 {
    flex: 8; }
  .flex-wrapper .col-6 {
    flex: 6; }
  .flex-wrapper .col-4 {
    flex: 4; }
  .flex-wrapper .col-3 {
    flex: 3; }
  .flex-wrapper .col-2 {
    flex: 2; }
  .flex-wrapper .col-1 {
    flex: 1; }

.success {
  color: #00aa00;
  font-weight: bold; }

.error {
  color: darkorange;
  font-weight: bold; }

.rotate-icon {
  transform: rotate(180deg); }

.dropdown {
  position: relative; }
  .dropdown .dropdown-btn {
    display: flex;
    height: 32px;
    background-color: #4ea5ff;
    color: #fff;
    border-radius: 3px; }
    .dropdown .dropdown-btn:hover {
      background-color: #81bfff;
      cursor: pointer; }
    .dropdown .dropdown-btn:active {
      background-color: #1b8bff; }
    .dropdown .dropdown-btn .name {
      width: 92px;
      text-align: center;
      line-height: 32px; }
    .dropdown .dropdown-btn .dropdown-icon, .dropdown .dropdown-btn .dropdown-arrow {
      line-height: 32px;
      color: #fff;
      margin: 0 8px; }
    .dropdown .dropdown-btn .dropdown-arrow {
      transition: all 0.3s ease-in-out; }
  .dropdown .dropdown-content {
    z-index: 1;
    width: 100%;
    display: none;
    position: absolute;
    background-color: #ffffff;
    top: 40px;
    transition: all .3s ease;
    -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 4px 0 rgba(0, 0, 0, 0.12), 0 3px 3px -2px rgba(0, 0, 0, 0.12); }
    .dropdown .dropdown-content .option {
      display: flex;
      color: #aaa;
      height: 32px;
      line-height: 32px; }
      .dropdown .dropdown-content .option:hover {
        background-color: #cccccc; }
      .dropdown .dropdown-content .option .option-icon {
        font-size: 24px;
        margin: 0 12px 0 8px;
        line-height: 32px; }
    .dropdown .dropdown-content .bottom-shadow {
      -webkit-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.12);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12); }

.container {
  display: flex;
  height: calc(100vh - 114px); }
  .container .left-view {
    flex: 4;
    background-color: #4ea5ff; }
    .container .left-view .title {
      color: #fff;
      font-size: 24px;
      font-weight: bold; }
  .container .register-view {
    flex: 6; }
    .container .register-view .title {
      font-size: 24px; }
    .container .register-view .sub-title {
      font-weight: bold; }
    .container .register-view .flex-wrapper {
      color: #aaa; }
      .container .register-view .flex-wrapper .gender {
        margin: 12px; }
      .container .register-view .flex-wrapper .login-nav {
        margin-left: 6px;
        color: #4ea5ff;
        font-weight: bold; }
        .container .register-view .flex-wrapper .login-nav:hover {
          color: #81bfff;
          cursor: pointer; }
        .container .register-view .flex-wrapper .login-nav:active {
          color: #1b8bff; }
      .container .register-view .flex-wrapper i.blue {
        color: #4ea5ff; }
    .container .register-view .liner {
      display: flex; }
      .container .register-view .liner .line_horizontal {
        margin: 20px;
        border: solid .5px #707070;
        height: 0.1px;
        width: 240px; }
      .container .register-view .liner .line-title {
        margin: 10px;
        font-size: 18px; }
    .container .register-view .input_container {
      height: 600px; }
      .container .register-view .input_container .box-nav {
        width: 300px; }
        .container .register-view .input_container .box-nav .dropdown .dropdown-btn {
          border: solid 0.5px #4ea5ff;
          background-color: #fff;
          color: #4ea5ff; }
          .container .register-view .input_container .box-nav .dropdown .dropdown-btn .dropdown-icon, .container .register-view .input_container .box-nav .dropdown .dropdown-btn .dropdown-arrow {
            color: #4ea5ff; }
        .container .register-view .input_container .box-nav .dropdown .dropdown-content .option:hover {
          background-color: #4ea5ff; }
          .container .register-view .input_container .box-nav .dropdown .dropdown-content .option:hover .option-icon, .container .register-view .input_container .box-nav .dropdown .dropdown-content .option:hover .name {
            color: #fff; }
        .container .register-view .input_container .box-nav .title {
          font-size: 20px;
          font-weight: bold; }
        .container .register-view .input_container .box-nav .sub-title {
          font-size: 12px;
          margin: 10px;
          font-weight: normal; }
        .container .register-view .input_container .box-nav .sub-box {
          color: #4ea5ff;
          margin: 5px;
          width: 200px;
          height: 32px;
          font-size: 15px;
          line-height: 32px;
          border: solid 1px #4ea5ff;
          -webkit-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08), 0 3px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 3px -2px rgba(0, 0, 0, 0.08);
          -moz-box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08), 0 3px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 3px -2px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.08), 0 3px 4px 0 rgba(0, 0, 0, 0.08), 0 3px 3px -2px rgba(0, 0, 0, 0.08); }
      .container .register-view .input_container .error-box {
        height: 24px;
        font-size: 10px;
        line-height: 24px; }

.line_vertical {
  height: 100%;
  margin: 20px;
  border: solid .5px #707070; }

/*# sourceMappingURL=registerResponder.css.map */