@import "global"

body
  margin: 0
  font: 12px "Nanum Gothic", sans-serif
  background-color: #ccc

  .eng
    font-family: 'Lato', sans-serif
*
  box-sizing: border-box

.container
  max-width: 1140px
  margin: $header-height auto 0 auto
  background-color: #fff

.center-wrapper
  @include align-center()

.center-wrapper-vertical
  @include align-vertical-center

.btn
  @include button(100%, 24px)

.test
  border: solid 1px black
